body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.shoeAttr {
  background-color: rgb(90, 121, 186);
  width: 120px;
 }

 .shoeAttrSubmit {
  background-color: #00ffbb;
  color: white;
  padding: 10px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-group {
  margin-bottom: 18px;
}
 
.shoeAttrInput {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-top: 5px;
}